{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<header class="d-flex flex-column flex-md-row align-items-md-center p-5">
    <div class="pt-md-3 pb-md-4">
      <h1 class="display-3 mt-0">Welcome to Virtual Market</h1>
      <p class="">Ugazaka wagazaka ugazaka zigaziga</p>
    </div>

</header>
<div class="container bg-dark p-4 rounded">
    <div class="row p-2">
        <h2 class="display-4">The market in numbers</h2>
    </div>
    <div class="row p-2">
        <p>
            Currently there are <a href="/shops" class="btn btn-info">{{stats[0]}} shops</a> 
            operated by <a href="/users" class="btn btn-danger">{{stats[1]}} people</a>
            selling <a href="/items" class="btn btn-success">{{stats[2]}} different items</a>
            with a total of <a href="/products" class="btn btn-warning">{{stats[3]}} units</a> for sale
        </p>
    </div>
</div>
{% endblock %}