<!doctype html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<title>Virtual market - {% block title %}{% endblock %}</title>
<body>
    
<nav class="navbar navbar-expand-md navbar-light shadow-sm px-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar0" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand"><h4 class="display-4">vm</h4></a>
    <div id="navbar0" class="collapse navbar-collapse">
        <ul class="navbar-nav col-8">
            <li class="nav-item ">
                <a class="nav-link {% if active=='home' %}active{% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link {% if active=='shops' %}active{% endif %}" href="/shops">Shops</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if active=='products' %}active{% endif %}" href="/products">Products</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if active=='users' %}active{% endif %}" href="/users">Users</a>
            </li>
            {% if "access_level" in session and session["access_level"] > 0 %}
            <li class="nav-item">
                <a class="nav-link {% if active=='transactions' %}active{% endif %}" href="/transactions">Transactions</a>
            </li>
            {% endif %}
        </ul>
        <div class="col row justify-content-end">
            {% if session.username %}

            <div class="col-auto p-2">
                <span>Logged in as <b>{{ session.username }}</b></span>
            </div>
            <div class="col-auto">
                <a href="/users/{{ session.username }}" class="btn btn-outline-dark action-button">My profile</a>
            </div>
            <div class="col-auto">
                <a href="/logout" class="btn btn-outline-dark action-button">Logout</a>
            </div>

            {% else %}

            <div class="col-auto">
                <a href="/login" class="btn btn-outline-dark action-button">Login</a>
            </div>
            <div class="col-auto">
                <a href="/signup" class="btn btn-dark action-button">Register</a>
            </div>

            {% endif %}
        </div>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
    <div class="container">
    {% for message in messages %} 
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    </div>
{% endwith %}
{% block content %}{% endblock %}
<hr>

<footer class="footer py-3 bg-light">
    <div class="container">
        <a href="https://github.com/Veikkosuhonen/VirtualMarket">
            <span class="text-muted">Github</span>
        </a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>