{% extends "layout.html" %}
{% block title %}Products{% endblock %}
{% block header %}Products{% endblock %}
{% block content %}
<div class="row m-3">
    <h3 class="display-3">Products</h3>
</div>
    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Shop</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product["itemname"] }}</td>
                <td><a href="/shops/{{ product['shopid'] }}">{{ product["shopname"] }}</a></td>
                <td>{{ product["price"] }}</td>
                <td>{{ product["quantity"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}