{% import "macros.html" as macros %}
{% extends "layout.html" %}
{% block title %}{{ user["username"] }}{% endblock %}
{% block header %}{{ user["username"] }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row p-4 bg-dark border-2 border-bottom rounded-bottom shadow-sm">
        <div class="col align-self-end p-2 border-bottom">
            <h1 class="display-1">{{ user["username"] }}</h1>
        </div>
        <div class="col-auto align-self-end p-2 border-bottom">
            <small class="text-muted">Joined: </small>
            <small class="text-muted">{{ user.join_date }}</small>
        </div>
    </div>
    <div class="row">
        <p>Shops: </p>
    </div>
    <div class="row row-cols-1 row-cols-lg-2">
    {% for shop in user["shops"] %}
        {{ macros.shopcard(shop) }}
    {% endfor %}
    </div>
    
    {% if access_level in session and session.access_level > 0%}
    <div class="row">
        <div class="row mb-2">
            <div class="container border rounded">
                {% for activity in user["activity"] %}
                <div class="row border-bottom">
                    <div class="col">{{activity["message"]}}</div>
                    <div class="col">{{activity["date"]}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="container border rounded">
                <div class="row">Transactions</div>
                {% for transaction in user["transactions"] %}
                <div class="row border-bottom">
                    <div class="col">{{transaction["message"]}}</div>
                    <div class="col">{{transaction["payment"]}}</div>
                    <div class="col">{{transaction["date"]}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>

{% endblock %}