{% import "macros.html" as macros %}
{% extends "layout.html" %}
{% block title %}Shops{% endblock %}
{% block header %}Shops{% endblock %}
{% block content %}

<nav class="navbar navbar-light bg-white border rounded-bottom shadow-sm sticky-top px-5 mb-4 row" style="overflow-x: hidden;">
    <form class="row justify-content-center p-2" action="/shops" method="GET">
        <div class="col-auto">
            <h3 class="display-3 navbar-brand">Shops</h3>
        </div>
        <div class="col-auto">
            <input type="radio" class="btn-check" name="filter" value="shop" id="options1" autocomplete="off" {% if filter=="shop" %}checked{% endif %}> 
            <label class="btn btn-outline-info" for="options1">Shop</label>
        </div>
        <div class="col-auto">
            <input type="radio" class="btn-check" name="filter" value="owner" id="options2" autocomplete="off" {% if filter=="owner" %}checked{% endif %}> 
            <label class="btn btn-outline-danger" for="options2">Owner</label>
        </div>
        <div class="col-auto">
            <input type="radio" class="btn-check" name="filter" value="item" id="options3" autocomplete="off" {% if filter=="item" %}checked{% endif %}> 
            <label class="btn btn-outline-success" for="options3">Item</label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text" name="query" maxLength="16" placeholder="Search" aria-label="Search" {% if querystring != None %}value="{{querystring}}"{% endif %}>
        </div>
        <div class="col-auto">
            <input class="form-control btn btn-primary" type="submit" value="Go">
        </div>
    </form>
</nav>


<div class="container">
    <div class="row row-cols-1 row-cols-lg-2">
    {% for shop in shops %}
    {{ macros.shopcard(shop) }}
    {% endfor %}
    </div>
</div>

{% endblock %}