{% extends "layout.html" %}
{% block title %}Transactions{% endblock %}
{% block header %}Transactions{% endblock %}
{% block content %}
<div class="row m-3">
    <h3 class="display-3">Transactions</h3>
    <small>This page is only visible to special users with access level > 0</small>
</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Shop</th>
                <th scope="col">Buyer</th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td><a href="/shops/{{transaction.shopid}}" class="btn btn-light">{{ transaction["shopname"] }}</a></td>
                <td><a href="/shops?query={{transaction['username']}}&filter=owner" class="btn btn-light">{{ transaction["username"] }}</a></td>
                <td><a href="/shops?query={{ transaction.itemname }}&filter=item" class="btn btn-light">{{ transaction.itemname }}</a></td>
                <td>{{ transaction["price"] }}</td>
                <td>{{ transaction["amount"] }}</td>
                <td>{{ transaction["date"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}