{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block header %}Users{% endblock %}
{% block content %}
<div class="row m-3">
    <h3 class="display-3">Users</h3>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Shops</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="/users/{{ user[1] }}">{{ user[1] }}</a></td>
            <td>{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}